extends layout

block content
  h1 #{title}
  table.table
      tr
        td Bedroom 1
        td #{room1}
      tr
        td Bedroom 2
        td #{room2}
      tr
        td Bedroom 3
        td #{room3}